@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Enriqueta:wght@400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  font-style: normal;
}

p {
  margin-bottom: 1.5em;
  font-size: medium;
  line-height: 1.7em;
}

h2 {
  font-family: "Bitter", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5em;
  margin-bottom: 1.5em;
  text-align: center;
}

header {
  background-image: url(../imagenes/banner2.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 850px;
  display: flex;
  align-items: flex-end;
}

.nav-bar {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-bar ul {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 1em;
  list-style-type: none;
}

.nav-bar a {
  text-decoration: none;
  color: white;
  padding-bottom: 0.3em;
  margin-left: 2.5em;
  margin-right: 2.5em;
  letter-spacing: 0.1em;
  font-size: 20px;
}

#seleccion {
  color: #c4a3cf;
  border-bottom: 2px solid #c4a3cf;
}

.nav-bar a:hover {
  color: #c4a3cf;
  border-bottom: 2px solid #c4a3cf;
}

.contenedor {
  width: 50%;
  margin-top: 7em;
}

.feminismo {
  margin-bottom: 7em;
}

.feminismo .negrita {
  font-weight: bold;
}

.feminismo .subrayado {
  text-decoration: underline;
}

.feminismo .cursiva {
  font-style: italic;
}



.influencers h3 {
  font-family: "Bitter", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  margin-bottom: 2em;
  text-align: center;
}

.influencers h4 {
  width: 10em;
  font-family: "Bitter", serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 1em;
  text-align: center;
}

.post {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0 6em 4.5em 6em;
}

.autora-derecha {
  margin-left: 4em;
}

.autora-izquierda {
  margin-right: 4em;
}

.post img {
  width: 40%;
}

#bonet {
  width: 45%;
  padding: 3.4em 0 3.4em 0;
}

.flecha {
  position: fixed;
  bottom: 70px;
  right: 20px;
  background-color: #c4a3cf;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
  transition: opacity .3s ease;
}

.flecha:hover {
  background-color: #e4c1f0;
  border-radius: 50%;
}

footer {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 7em;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer ul {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 1em;
  list-style-type: none;
}

footer a {
  text-decoration: none;
  color: white;
  padding: 0.5em;
  margin-left: 2em;
  margin-right: 2em;
  letter-spacing: 0.1em;
  font-size: 20px;
}

footer a:hover {
  color: #c4a3cf;
  border-bottom: 2px solid #c4a3cf;
}
